<footer class="site-footer">


</footer>

<script src="{{ '/assets/js/vendor/jquery.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/what-input.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/vendor/foundation.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/app.js?v=' | append: site.github.build_revision | relative_url }}"></script>


